/*
Version: 1.1
Global Tailwind Custom styles
Last Edited by: Natalia Pakhomova
Last Edit Date: 15/10/2024
*/

@tailwind base; /* Apply base styles */
@tailwind components; /* Apply component styles */
@tailwind utilities; /* Apply utility styles */

/* Define Global Tailwind Custom styles */
@layer base {
  a {
    @apply text-link; /* Use the link color from the Tailwind config */
    text-decoration: none; /* Remove underline */
    transition: color 0.2s ease; /* Add a smooth color transition */
  }

  a:hover {
    @apply text-accent1; /* Change the text color on hover */
    text-decoration: underline; /* Add an underline on hover */
  }
}
